# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=docker-php-tutorial
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# build
PHP_VERSION=7.3
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=../project/public
APP_CODE_PATH_CONTAINER=/var/www/current

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=docker-php-tutorial.local

# nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

# workspace
WORKSPACE_HOST_SSH_PORT=2222


# blackfire
BLACKFIRE_CLIENT_ID=67cc95df-dab1-4a9e-b886-7bb71a5c1d0e
BLACKFIRE_CLIENT_TOKEN=2dd13ac2d0c4e61b32bff3487254847991b49c0802cae325f3ed121bf69c9dda
BLACKFIRE_SERVER_ID=5f72b87b-f435-46fd-ae1b-c7f15410dd31
BLACKFIRE_SERVER_TOKEN=6a610b675de20a239cccca13499d4c95a5601401d21c8a656f2f24a7fbc2498d
BLACKFIRE_LOG_LEVEL=4
BLACKFIRE_SOCKET=tcp://docker-php-tutorial_blackfire_1:8707
BLACKFIRE_PORT=8707